{include file="static/back/postion_nav.html" /}
<!--Start row-->
    <div class="row">
        <div class="col-md-3">
            <div class="analytics-box white-box">
                <h3>总访问量</h3>
                <div class="analytics-info">
                    <div class="analytics-stats">
                        6011
                    </div>
                </div>
            </div>
        </div> <!-- /analytics-box-->

        <div class="col-md-3">
            <div class="analytics-box white-box">
                <h3>本月访问量</h3>
                <div class="analytics-info">
                    <div class="analytics-stats">
                        $8659
                    </div>

                </div>
            </div>
        </div> <!-- /analytics-box-->

        <div class="col-md-3">
            <div class="analytics-box white-box">
                <h3>今日访问量</h3>
                <div class="analytics-info">
                    <div class="analytics-stats">
                        $8659
                    </div>

                </div>
            </div>
        </div> <!-- /analytics-box-->

        <div class="col-md-3">
            <div class="analytics-box white-box">
                <h3>跳出率</h3>
                <div class="analytics-info">
                    <div class="analytics-stats">
                        6011
                    </div>
                </div>
            </div>
        </div> <!-- /analytics-box-->
    </div>
    <!--End row-->

    <!-- 图表 -->
    <div class="white-box m-t-30 m-b-30" >
        <h2 class="header-title">一周访问曲线图</h2>
        <!--Start chart-->
        <div class="col-md-12">
            <canvas id="sharpLinechart" height="90" ></canvas>
        </div>
        <!--End chart-->
    </div>

    <!--Start row-->
    <div class="row">
        <div class="col-md-4">
            <div class="white-box">
                <h2 class=" header-title">各栏目总访问量 </h2>

                <ul class="Browser_stats">
                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}chrome.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}firefox.png">Firefox</span>
                        <span class="broser-stats">42%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}safari.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}opera.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}Ie.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}mobile.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                </ul>

            </div>
        </div>

        <div class="col-md-4">
            <div class="white-box">
                <h2 class=" header-title">各栏目本月访问量</h2>

                <ul class="Browser_stats">
                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}chrome.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}firefox.png">Firefox</span>
                        <span class="broser-stats">42%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}safari.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}opera.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}Ie.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}mobile.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                </ul>

            </div>
        </div>

        <!-- Start Browsers Stats -->
        <div class="col-md-4">
            <div class="white-box">
                <h2 class=" header-title">Browsers Stats </h2>

                <ul class="Browser_stats">
                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}chrome.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}firefox.png">Firefox</span>
                        <span class="broser-stats">42%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}safari.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}opera.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}Ie.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                    <li>
                        <span  class="browser-info"><img alt="google" src="{$Think.config.back_img}mobile.png">Google Crome</span>
                        <span class="broser-stats">32%</span>
                    </li>

                </ul>

            </div>
        </div>
        <!-- Start Browsers Stats -->

    </div>
 <!--End row-->
{include file="static/back/com_js.html" /}
<!--Begin Page Level Plugin 图表-->
<script src="{$Think.config.back_plus}chart-js/Chart.js"></script>
<script src="{$Think.config.back_js}dashboard.js"></script>
<!--end Page Level Plugin 图表-->
